---
- id: snykio:maven:org.jenkins-ci.plugins:script-security:173668
  title: Arbitrary Code Execution
  description: |
    [org.jenkins-ci.plugins:script-security][1] is a allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Arbitrary Code
    Execution. An attacker with `Overall/Read` permission could provide a
    Groovy script to an HTTP endpoint that can result in arbitrary code
    execution on the Jenkins master JVM.



    [1]: https://wiki.jenkins.io/display/JENKINS/Script+Security+Plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.51"
  severity: high
  package_manager: maven
  cve:
  - CVE-2019-1003005
  cwe:
  - CWE-94
  disclosed_date: 2019-01-28
  created_date: 2019-02-06
  last_modified_date: 2019-02-06
  credit:
  - Mikhail Egorov
  references:
  - https://github.com/jenkinsci/script-security-plugin/commit/35119273101af26792457ec177f34f6f4fa49d99
  - https://jenkins.io/security/advisory/2019-01-28/#SECURITY-1292
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-173668
- id: snykio:maven:org.jenkins-ci.plugins:script-security:173716
  title: Arbitrary Code Execution
  description: |
    [org.jenkins-ci.plugins:script-security][1] allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Arbitrary Code
    Execution in `RejectASTTransformsCustomizer.java`. It is possible for
    attackers with Overall/Read permission to provide a Groovy script to an
    HTTP endpoint that can result in arbitrary code execution on the Jenkins
    master JVM.



    [1]: https://wiki.jenkins.io/display/JENKINS/Script+Security+Plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.5.3"
  severity: high
  package_manager: maven
  cve:
  - CVE-2019-1003024
  cwe:
  - CWE-265
  disclosed_date: 2019-02-21
  created_date: 2019-02-21
  last_modified_date: 2019-02-21
  credit:
  - CloudBees
  - Daniel Beck
  - Inc.
  references:
  - https://jenkins.io/security/advisory/2019-02-19/#SECURITY-1320
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-173716
- id: snykio:maven:org.jenkins-ci.plugins:script-security:174033
  title: Sandbox Bypass
  description: |
    [org.jenkins-ci.plugins:script-security][1] allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Sandbox Bypass. It
    allows attackers to invoke arbitrary constructors in sandboxed scripts.



    [1]: https://wiki.jenkins.io/display/JENKINS/Script+Security+Plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.56"
  severity: high
  package_manager: maven
  cve:
  - CVE-2019-1003040
  - CVE-2019-1003041
  cwe:
  - CWE-265
  disclosed_date: 2019-03-28
  created_date: 2019-03-28
  last_modified_date: 2019-03-28
  credit:
  - Anthony Weems
  references:
  - https://github.com/jenkinsci/script-security-plugin/commit/8424ad90547e37a2bd3b6a3a7da48eb1af9cd0ee
  - https://jenkins.io/security/advisory/2019-03-25/#SECURITY-1353
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-174033
- id: snykio:maven:org.jenkins-ci.plugins:script-security:32171
  title: Arbitrary File Read
  description: |
    [org.jenkins-ci.plugins:script-security][1] allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Arbitrary File Read.
    Users with the ability to configure sandboxed Groovy scripts are able to
    use a type coercion feature in Groovy to create new `File` objects from
    strings. This allowed reading arbitrary files on the Jenkins master file
    system. Such a type coercion is now subject to sandbox protection and
    considered to be a call to the `new File(String)` constructor for the
    purpose of in-process script approval.



    [1]: https://github.com/jenkinsci/script-security-plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.37"
  severity: medium
  package_manager: maven
  cve:
  - CVE-2017-1000505
  cwe:
  - CWE-200
  disclosed_date: 2017-12-01
  created_date: 2018-04-08
  last_modified_date: 2018-04-08
  credit:
  - Gregory Draperi
  references:
  - https://github.com/jenkinsci/script-security-plugin/commit/4caaa50e570dafa15c73badac250eb31878ab3ba
  - https://jenkins.io/security/advisory/2017-12-11/
  - https://nvd.nist.gov/vuln/detail/CVE-2017-1000505
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-32171
- id: snykio:maven:org.jenkins-ci.plugins:script-security:32254
  title: Arbitrary Code Execution
  description: |
    [org.jenkins-ci.plugins:script-security][1] Allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Arbitrary Code
    Execution. It might allow remote attackers to bypass a Groovy sandbox
    protection mechanism via a plugin that performs (1) direct field access
    or (2) get/set array operations.



    [1]: https://github.com/jenkinsci/script-security-plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.18.1"
  severity: high
  package_manager: maven
  cve:
  - CVE-2016-3102
  cwe:
  - CWE-254
  disclosed_date: 2016-03-28
  created_date: 2018-05-08
  last_modified_date: 2018-05-08
  credit:
  - Daniel Beck
  references:
  - https://github.com/jenkinsci/script-security-plugin/commit/e7d3bc9c1e25caa23cea33381134a4baaedc75b8
  - https://jenkins.io/security/advisory/2016-04-11/
  - https://nvd.nist.gov/vuln/detail/CVE-2016-3102
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-32254
- id: snykio:maven:org.jenkins-ci.plugins:script-security:449971
  title: Sandbox Bypass
  description: |
    [org.jenkins-ci.plugins:script-security][1] allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Sandbox Bypass. An
    attacker with `Overall/Read` permission could execute arbitrary code on
    the Jenkins master JVM.



    [1]: https://wiki.jenkins.io/display/JENKINS/Script+Security+Plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.56"
  severity: high
  package_manager: maven
  cve:
  - CVE-2019-1003029
  cwe:
  - CWE-254
  disclosed_date: 2019-03-06
  created_date: 2019-06-26
  last_modified_date: 2019-06-26
  credit:
  - Georgy Noseevich
  - SolidLab
  references:
  - https://jenkins.io/security/advisory/2019-03-06/
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-449971
- id: snykio:maven:org.jenkins-ci.plugins:script-security:456243
  title: Sandbox Bypass
  description: |
    [org.jenkins-ci.plugins:script-security][1] is a allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Sandbox Bypass.
    Issue related to the handling of type casts allows an attacker to
    execute arbitrary code in sandboxed scripts.



    [1]: https://wiki.jenkins.io/display/JENKINS/Script+Security+Plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.62"
  severity: high
  package_manager: maven
  cve:
  - CVE-2019-10355
  cwe:
  - CWE-265
  disclosed_date: 2019-07-31
  created_date: 2019-08-01
  last_modified_date: 2019-08-01
  credit:
  - Unknown
  references:
  - https://jenkins.io/security/advisory/2019-07-31/
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-456243
- id: snykio:maven:org.jenkins-ci.plugins:script-security:456244
  title: Sandbox Bypass
  description: |
    [org.jenkins-ci.plugins:script-security][1] is a allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Sandbox Bypass.
    Issue related to the handling of method pointer expressions allowed
    attackers to execute arbitrary code in sandboxed scripts.



    [1]: https://wiki.jenkins.io/display/JENKINS/Script+Security+Plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.62"
  severity: high
  package_manager: maven
  cve:
  - CVE-2019-10356
  cwe:
  - CWE-265
  disclosed_date: 2019-07-31
  created_date: 2019-08-01
  last_modified_date: 2019-08-01
  credit:
  - Unknown
  references:
  - https://jenkins.io/security/advisory/2019-07-31/
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-456244
- id: snykio:maven:org.jenkins-ci.plugins:script-security:73604
  title: Sandbox Bypass
  description: |
    [org.jenkins-ci.plugins:script-security][1] is a allows Jenkins
    administrators to control what in-process scripts can be run by
    less-privileged users.

    Affected versions of this package are vulnerable to Sandbox Bypass. A
    malicious user with `Overall/Read` permission, or able to control
    Jenkins file or sandboxed Pipeline shared library contents in SCM, could
    bypass the sandbox protection and execute arbitrary code on the Jenkins
    master.



    [1]: https://wiki.jenkins.io/display/JENKINS/Script+Security+Plugin
  affected_package: org.jenkins-ci.plugins:script-security
  vulnerable_versions:
  - "< 1.50"
  severity: high
  package_manager: maven
  cve:
  - CVE-2019-1003000
  cwe:
  - CWE-265
  disclosed_date: 2019-01-22
  created_date: 2019-01-22
  last_modified_date: 2019-01-22
  credit:
  - Orange Tsai
  references:
  - https://exploit-db.com/exploits/46572
  - https://github.com/jenkinsci/script-security-plugin/commit/2c5122e50742dd16492f9424992deb21cc07837c
  - https://jenkins.io/security/advisory/2019-01-08/#SECURITY-1266
  - https://www.exploit-db.com/exploits/46453
  source_url: https://snyk.io/vuln/SNYK-JAVA-ORGJENKINSCIPLUGINS-73604
